{% extends "layout.html.twig" %}
{% block content %}
    <div class="container">
		<div class="row d-flex justify-content-center">
			<h1 class="rounded">Liste des restaurants disponibles sur cette planete </h1>
            
			{% for restaurant in restaurants %}
            
				<div class="card" style="width: 18rem;">
                <h2> {{ restaurant.restaurant_name }} </h2>
					 <img src="{{ restaurant.restaurant_image }}" alt="{{ restaurant.restaurant_name }}" style="width: 16rem;"/> 
					<div class="card-body">
						<p class="card-text">{{ restaurant.restaurant_description }}</p>
                        <h3> {{ restaurant.menu_name }} </h3>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}