{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/cart.css">
{% endblock %}

{% block content%}


	<section class="cart">
		<div class="container">
			<h1>Panier</h1>


			{% if products is not empty %}
				<div class="table">
					<table class="table">
						<thead>
							<tr>
								<th>Menu</th>
								<th>Quantité</th>
								<th>Prix</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% set total = 0 %}
                            
							{% for product in products %}
								{% set total = total + product.price * product.quantity %}
								<tr>
                                <td>
                                <h2>{{ product.name }}</h2>						
								</td>	<!-- Bouton -->
									<td>
										<div class="d-flex justify-content-between">
											<a class="quantity btn btn-primary border-0" href="/Cart/substract/{{product.id}}">-</a>
											<p>{{ product.quantity }}</p>
											<a class="quantity btn btn-primary border-0" href="/Cart/add/{{product.id}}">+</a>
										</div>
									</td>
                                   
									<td>{{ product.quantity * product.price }}€</td>
                                    
									<td>
										<a class="btn btn-primary border-0" href="/Cart/delete/{{product.id}}">X</a>
									</td>
								</tr>
							{% endfor %}

							<tr>
								<th>Prix total</th>
								<td></td>
								<td></td>
								<td></td>
								<td>{{total}}€</td>
								<td></td>
							</tr>

						</tbody>
						<a class="btn btn-primary border-0" href="/Cart/empty">Vider le panier</a>
					</table>
					<div class="text-center">
						<a class="btn btn-primary text-center border-0" href="/Delivery/index">Commander</a>
					</div>
				</div>
			{% else %}
				<div class="alert alert-warning">
					<p>Panier vide</p>
				</div>
			{% endif %}
		</div>
	</div>
</section>{% endblock %}
