<table class="table table-striped table-hover text-center align-middle">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Image</th>
            {% if items.0.recipe %}
                <th scope="col">Ingrédients</th>
            {% endif %}
            <th scope="col">Prix</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td><img src="{{ item.image }}" alt="{{ item.name }}"></td>
                {% if item.recipe %}
                    <td>{{ item.recipe }}</td>
                {% endif %}
                <td>{{ item.price }}€</td>
                <td>
                    <a class="btn btn-secondary col-6" href="{{ url_controller }}/edit/{{ item.id }}" role="button">Editer</a>
                    <form action="{{ url_controller }}/delete/{{item.id}}" method="POST" onsubmit="return confirm('Voulez-vous supprimer ?');">
                        <button class="btn btn-danger col-6">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
